.App {
  display: block;
  background-color: rgb(231, 231, 231);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-title {}